@*<div class="fondoGradiente" id="footer" style="color: whitesmoke; font-size: 0.9em; background-color: gray">*@
<div id="footer" style="color: gray; background-color:gray; margin-top: 0px;">
    <div class="container" style="text-align: center;font-size: 11px;color:white">
    
            © Developed by Grupo: Gestión Pedagógica
    
    </div>
</div>

