
@*<div id="header" style="border-bottom: 2px solid rgb(164, 12, 52);">
    <div class="container append-bottom prepend-top">
        <div class="span-24 last">
            <div class="span-5 append-2">
                <div id="logoCabecera">
                   
                </div>
            </div>
            <div class="span-17 last">
                <div class="span-12 textoDerecha" style="padding: 0px;">
                    <div id="tituloCabecera">
                        <span style="letter-spacing: 0.8px; font-family: 'Arial Narrow'; font-weight: bold; font-size: 25px; color: rgb(116, 116, 116); border-bottom: 1px solid gray;"></span>
                        <span style="font-size: 35px; color: rgb(164, 12, 52);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programa Doctorado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="span-5 last">
                    <div id="datosSesion" style="height: 70px; border-left: 1px solid gray; padding-left: 10px;">
                        <h1></h1>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>*@

<div id="header" style="background-color:gray">
    <div class="container append-bottom prepend-top">
        <div class="span-24 last">
            <div class="span-19 last">
                <img src="/Content/Images/innova_schools-logo.png" alt="Header" />
            </div>
             @*<div class="span-5 last">
                    <div id="datosSesion" style="height: 70px; border-left: 0px solid gray; padding-left: 10px;">                        
                    </div>
                </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    

</script>
